{# layouts/default.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Derafu: Project - Slogan{% endblock %}

{% block body %}
    {% block header %}
        <div id="header-container" class="sticky-top"></div>
    {% endblock %}

    {% block main %}
        <main>
            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
    {% endblock %}
{% endblock %}
