# Base configuration for routes.yaml

- route: /
  handler: '%kernel.project_dir%/README.md'
  name: homepage

- route: error
  handler: '%kernel.project_dir%/templates/error.html.twig'
  name: errorpage

- route: /js/derafu.js
  handler: '%kernel.project_dir%/templates/derafu.js.twig'
  name: derafu-js
  parameters:
    derafu_email_class: derafu-email
    derafu_email_user: derafu
    derafu_email_domain: derafu.org
