<twig:block-footer
    id="contact"
    col1Title="Proyectos Destacados"
    :col1Links="[
        {
            text: 'Componentes UX para Twig',
            url: '/twig',
            icon: 'fa-solid fa-file-code'
        },
        {
            text: 'Operadores y Generador de Consultas SQL',
            url: '/smart-query',
            icon: 'fa-solid fa-database'
        },
        {
            text: 'Procesamiento de Datos',
            url: '/data-processor',
            icon: 'fa-solid fa-list-check',
            targetBlank: true
        },
        {
            text: 'Selecci칩n y Filtrado en Arreglos',
            url: '/selector',
            icon: 'fa-solid fa-filter'
        }
    ]"

    col3Title="Contacto & Colaboraci칩n"
    col3Html="Si est치s interesado en contribuir o colaborar, cont치ctanos."
    :col3Links="[
        {
            text: 'derafu@derafu.org',
            url: 'mailto:derafu@derafu.org',
            icon: 'fa-solid fa-envelope'
        },
        {
            text: 'Derafu CORP',
            url: 'https://www.derafu.com',
            icon: 'fa-solid fa-globe'
        }
    ]"

    col4Title="Derafu ORG"
    col4Html="<p>Santa Cruz, Valle de Colchagua, Chile.</p><p>Desde Chile para todo el mundo con <i class='fa-solid fa-heart text-danger'></i></p>"
    :col4SocialIcons="[
        {
            icon: 'fa-brands fa-github fa-2x',
            url: 'https://github.com/derafu'
        }
    ]"

    leftText="Copyright &copy; 2025 Derafu ORG"
    rightText="Todos los derechos reservados."
/>
