<twig:block-header
    id="top"
    class="navbar-dark sticky-top bg-dark"
    logoUrl="{{base_path}}/"
    logoHtml="<span class='fw-bold text-primary'>Derafu</span> <span class='fw-normal text-white'>ORG</span>"
    :leftNav="[
        {
            text: 'Proyectos de Código Abierto',
            icon: 'fa-brands fa-github',
            sections: [
                {
                    title: 'Base para Aplicación',
                    links: [
                        {
                            text: 'Base de Sitios de Derafu',
                            url: 'https://derafu.github.io/foundation',
                            icon: 'fa-solid fa-house'
                        },
                        {
                            text: 'Flujo HTTP con Middlewares',
                            url: 'https://derafu.github.io/http',
                            icon: 'fa-solid fa-sitemap'
                        },
                        {
                            text: 'Enrutamiento con Parsers',
                            url: 'https://derafu.github.io/routing',
                            icon: 'fa-solid fa-arrows-split-up-and-left'
                        },
                        {
                            text: 'Núcleo con MicroKernel',
                            url: 'https://derafu.github.io/kernel',
                            icon: 'fa-solid fa-heart'
                        },
                        {
                            text: 'Traducción con I18n/ICU',
                            url: 'https://derafu.github.io/translation',
                            icon: 'fa-solid fa-earth-americas'
                        },
                        {
                            text: 'Apoyo con Helpers',
                            url: 'https://derafu.github.io/support',
                            icon: 'fa-solid fa-life-ring'
                        }
                    ]
                },
                {
                    title: 'Manejo de Datos',
                    links: [
                        {
                            text: 'Operadores y Generador de Consultas SQL',
                            url: 'https://derafu.github.io/smart-query',
                            icon: 'fa-solid fa-database'
                        },
                        {
                            text: 'Procesamiento de Datos',
                            url: 'https://derafu.github.io/data-processor',
                            icon: 'fa-solid fa-list-check'
                        },
                        {
                            text: 'Repositorios mediante Archivos',
                            url: 'https://derafu.github.io/repository',
                            icon: 'fa-solid fa-folder-tree'
                        },
                        {
                            text: 'Configuración y Opciones',
                            url: 'https://derafu.github.io/config',
                            icon: 'fa-solid fa-cogs'
                        },
                        {
                            text: 'Contenedores de Datos',
                            url: 'https://derafu.github.io/container',
                            icon: 'fa-solid fa-box-archive'
                        },
                        {
                            text: 'Selección y Filtrado en Arreglos',
                            url: 'https://derafu.github.io/selector',
                            icon: 'fa-solid fa-filter'
                        }
                    ]
                },
                {
                    title: 'Vistas y Plantillas',
                    links: [
                        {
                            text: 'Renderizador Unificado',
                            url: 'https://derafu.github.io/renderer',
                            icon: 'fa-solid fa-palette'
                        },
                        {
                            text: 'Componentes UX para Twig',
                            url: 'https://derafu.github.io/twig',
                            icon: 'fa-solid fa-file-code'
                        },
                        {
                            text: 'Plantillas con Markdown',
                            url: 'https://derafu.github.io/markdown',
                            icon: 'fa-solid fa-file-lines'
                        },
                        {
                            text: 'Formularios',
                            url: 'https://derafu.github.io/form',
                            icon: 'fa-solid fa-keyboard'
                        },
                        {
                            text: 'Componentes HTML',
                            url: 'https://derafu.github.io/html',
                            icon: 'fa-solid fa-code'
                        },
                        {
                            text: 'Gráficos con GD',
                            url: 'https://derafu.github.io/chart',
                            icon: 'fa-solid fa-chart-line'
                        },
                    ]
                }
            ],
            footer: [
                {
                    icon: 'fa-solid fa-book',
                    text: 'Documentación',
                    url: '/docs'
                },
                {
                    icon: 'fa-brands fa-github',
                    text: 'Ver en Github',
                    url: 'https://github.com/derafu'
                }
            ],
        },
        {
            text: 'Documentación',
            icon: 'fa-solid fa-book',
            items: [
                {
                    text: 'Base de Sitios de Derafu',
                    icon: 'fa-solid fa-house',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/foundation'
                        }
                    ]
                },
                {
                    text: 'Flujo HTTP con Middlewares',
                    icon: 'fa-solid fa-sitemap',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/http'
                        }
                    ]
                },
                {
                    text: 'Enrutamiento con Parsers',
                    icon: 'fa-solid fa-arrows-split-up-and-left',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/routing'
                        },
                        {
                            type: 'divider'
                        },
                        {
                            text: 'Guía en Inglés',
                            url: 'https://derafu.github.io/routing/guide_en.html'
                        },
                        {
                            text: 'Guía en Español',
                            url: 'https://derafu.github.io/routing/guide_es.html'
                        }
                    ]
                },
                {
                    text: 'Núcleo con MicroKernel',
                    icon: 'fa-solid fa-heart',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/kernel'
                        }
                    ]
                },
                {
                    text: 'Traducción con I18n/ICU',
                    icon: 'fa-solid fa-earth-americas',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/translation'
                        }
                    ]
                },
                {
                    text: 'Apoyo con Helpers',
                    icon: 'fa-solid fa-life-ring',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/support'
                        }
                    ]
                },
                {
                    type: 'divider'
                },
                {
                    text: 'Operadores y Generador de Consultas SQL',
                    icon: 'fa-solid fa-database',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/smart-query'
                        }
                    ]
                },
                {
                    text: 'Procesamiento de Datos',
                    icon: 'fa-solid fa-list-check',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/data-processor'
                        }
                    ]
                },
                {
                    text: 'Repositorios mediante Archivos',
                    icon: 'fa-solid fa-folder-tree',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/repository'
                        }
                    ]
                },
                {
                    text: 'Configuración y Opciones',
                    icon: 'fa-solid fa-cogs',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/config'
                        }
                    ]
                },
                {
                    text: 'Contenedores de Datos',
                    icon: 'fa-solid fa-box-archive',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/container'
                        }
                    ]
                },
                {
                    text: 'Selección y Filtrado en Arreglos',
                    icon: 'fa-solid fa-filter',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/selector'
                        }
                    ]
                },
                {
                    type: 'divider'
                },
                {
                    text: 'Renderizador Unificado',
                    icon: 'fa-solid fa-palette',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/renderer'
                        }
                    ]
                },
                {
                    text: 'Plantillas con Twig',
                    icon: 'fa-solid fa-file-code',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/twig'
                        },
                        {
                            text: 'Temas Predefinidos',
                            url: 'https://derafu.github.io/twig/demo/themes/predefined.html'
                        },
                        {
                            text: 'Componentes',
                            url: 'https://derafu.github.io/twig/components.html'
                        }
                    ]
                },
                {
                    text: 'Plantillas con Markdown',
                    icon: 'fa-solid fa-file-lines',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/markdown'
                        }
                    ]
                },
                {
                    text: 'Formularios',
                    icon: 'fa-solid fa-keyboard',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/form'
                        }
                    ]
                },
                {
                    text: 'Componentes HTML',
                    icon: 'fa-solid fa-code',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/html'
                        }
                    ]
                },
                {
                    text: 'Gráficos con GD',
                    icon: 'fa-solid fa-chart-line',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.github.io/chart'
                        }
                    ]
                },
            ]
        },
    ]"
    :rightNav="[
        {
            text: 'Educación',
            url: '#education',
            icon: 'fa-solid fa-user-graduate'
        },
        {
            text: 'Comunidad',
            url: '#community',
            icon: 'fa-solid fa-handshake-angle'
        },
        {
            text: 'Equipo',
            url: '#team',
            icon: 'fa-solid fa-people-group'
        }
    ]"
    ctaIcon="fa-solid fa-circle-info"
    ctaText="Contacto & Colaboración"
    ctaUrl="#contact"
/>
