<twig:block-header
    id="top"
    class="navbar-dark sticky-top bg-dark"
    logoUrl="{{base_path}}/"
    logoHtml="<span class='fw-bold text-primary'>Derafu</span> <span class='fw-normal text-white'>ORG</span>"
    :leftNav="[
        {
            text: 'Free Software Projects',
            icon: 'fa-brands fa-github',
            sections: [
                {
                    cols: 4,
                    title: 'Base for Applications',
                    links: [
                        {
                            text: 'Derafu Foundation',
                            url: 'https://derafu.org/foundation',
                            icon: 'fa-solid fa-house'
                        },
                        {
                            text: 'HTTP Flow with Middlewares',
                            url: 'https://derafu.org/http',
                            icon: 'fa-solid fa-sitemap'
                        },
                        {
                            text: 'Routing with Parsers',
                            url: 'https://derafu.org/routing',
                            icon: 'fa-solid fa-arrows-split-up-and-left'
                        },
                        {
                            text: 'Core with MicroKernel',
                            url: 'https://derafu.org/kernel',
                            icon: 'fa-solid fa-heart'
                        },
                        {
                            text: 'Translation with I18n/ICU',
                            url: 'https://derafu.org/translation',
                            icon: 'fa-solid fa-earth-americas'
                        },
                        {
                            text: 'Logbook',
                            url: 'https://derafu.org/log',
                            icon: 'fa-solid fa-history'
                        },
                        {
                            text: 'Support with Helpers',
                            url: 'https://derafu.org/support',
                            icon: 'fa-solid fa-life-ring'
                        }
                    ]
                },
                {
                    cols: 4,
                    title: 'Manejo de Datos',
                    links: [
                        {
                            text: 'SQL Query Operators',
                            url: 'https://derafu.org/query',
                            icon: 'fa-solid fa-database'
                        },
                        {
                            text: 'Data Processing',
                            url: 'https://derafu.org/data-processor',
                            icon: 'fa-solid fa-list-check'
                        },
                        {
                            text: 'File Repositories',
                            url: 'https://derafu.org/repository',
                            icon: 'fa-solid fa-folder-tree'
                        },
                        {
                            text: 'Configuration and Options',
                            url: 'https://derafu.org/config',
                            icon: 'fa-solid fa-cogs'
                        },
                        {
                            text: 'Data Containers',
                            url: 'https://derafu.org/container',
                            icon: 'fa-solid fa-box-archive'
                        },
                        {
                            text: 'Array Selection and Filtering',
                            url: 'https://derafu.org/selector',
                            icon: 'fa-solid fa-filter'
                        },
                        {
                            text: 'XML Encoding and Validation',
                            url: 'https://derafu.org/xml',
                            icon: 'fa-solid fa-code'
                        },
                    ]
                },
                {
                    cols: 4,
                    title: 'Vistas y Plantillas',
                    links: [
                        {
                            text: 'Unified Renderer',
                            url: 'https://derafu.org/renderer',
                            icon: 'fa-solid fa-palette'
                        },
                        {
                            text: 'UX Components for Twig',
                            url: 'https://derafu.org/twig',
                            icon: 'fa-solid fa-file-code'
                        },
                        {
                            text: 'Markdown Templates',
                            url: 'https://derafu.org/markdown',
                            icon: 'fa-solid fa-file-lines'
                        },
                        {
                            text: 'Forms',
                            url: 'https://derafu.org/form',
                            icon: 'fa-solid fa-keyboard'
                        },
                        {
                            text: 'Vanilla JS',
                            url: 'https://derafu.org/vanilla-js',
                            icon: 'fa-brands fa-js'
                        },
                        {
                            text: 'HTML Components',
                            url: 'https://derafu.org/html',
                            icon: 'fa-brands fa-html5'
                        },
                        {
                            text: 'Graphics with GD',
                            url: 'https://derafu.org/chart',
                            icon: 'fa-solid fa-chart-line'
                        },
                    ]
                },
                {
                    cols: 4,
                    title: 'Servicios para Aplicaciones',
                    links: [
                        {
                            text: 'Email Sending',
                            url: 'https://derafu.org/mail',
                            icon: 'fa-solid fa-envelope'
                        },
                        {
                            text: 'API with Discovery',
                            url: 'https://derafu.org/api',
                            icon: 'fa-solid fa-server'
                        }
                    ]
                },
                {
                    cols: 4,
                    title: 'Security and Authentication',
                    links: [
                        {
                            text: 'Digital Certificates',
                            url: 'https://derafu.org/certificate',
                            icon: 'fa-solid fa-certificate'
                        },
                        {
                            text: 'Digital Signature and XML-DSIG',
                            url: 'https://derafu.org/signature',
                            icon: 'fa-solid fa-signature'
                        }
                    ]
                },
                {
                    cols: 4,
                    title: 'L10n: Chile',
                    links: [
                        {
                            text: 'RUN/RUT Formatting and Validation',
                            url: 'https://github.com/derafu/l10n-cl-rut',
                            icon: 'fa-solid fa-id-badge'
                        },
                        {
                            text: 'Enum Collection',
                            url: 'https://github.com/derafu/l10n-cl-enum',
                            icon: 'fa-solid fa-list'
                        }
                    ]
                }
            ],
            footer: [
                {
                    icon: 'fa-solid fa-box-open',
                    text: 'More About Free Software',
                    url: '/free-software'
                },
                {
                    icon: 'fa-solid fa-book',
                    text: 'Documentation',
                    url: '/docs'
                },
                {
                    icon: 'fa-brands fa-github',
                    text: 'See on Github',
                    url: 'https://github.com/derafu'
                }
            ],
        }
    ]"
    :rightNav="[
        {
            text: 'Software',
            url: 'https://derafu.org/#software',
            icon: 'fa-solid fa-code'
        },
        {
            text: 'Education',
            url: 'https://derafu.org/#education',
            icon: 'fa-solid fa-user-graduate'
        },
        {
            text: 'Community',
            url: 'https://derafu.org/#community',
            icon: 'fa-solid fa-handshake-angle'
        },
        {
            text: 'Team',
            url: 'https://derafu.org/#team',
            icon: 'fa-solid fa-people-group'
        }
    ]"
    ctaIcon="fa-solid fa-circle-info"
    ctaText="Contact & Collaboration"
    ctaUrl="#contact"
/>
