<twig:block-header
    id="top"
    class="navbar-dark sticky-top bg-dark"
    logoUrl="{{base_path}}/"
    logoHtml="<span class='fw-bold text-primary'>Derafu</span> <span class='fw-normal text-white'>ORG</span>"
    :leftNav="[
        {
            text: 'Proyectos de Software Libre',
            icon: 'fa-brands fa-github',
            sections: [
                {
                    cols: 4,
                    title: 'Base para Aplicaciones',
                    links: [
                        {
                            text: 'Base de Sitios de Derafu',
                            url: 'https://derafu.org/foundation',
                            icon: 'fa-solid fa-house'
                        },
                        {
                            text: 'Flujo HTTP con Middlewares',
                            url: 'https://derafu.org/http',
                            icon: 'fa-solid fa-sitemap'
                        },
                        {
                            text: 'Enrutamiento con Parsers',
                            url: 'https://derafu.org/routing',
                            icon: 'fa-solid fa-arrows-split-up-and-left'
                        },
                        {
                            text: 'Núcleo con MicroKernel',
                            url: 'https://derafu.org/kernel',
                            icon: 'fa-solid fa-heart'
                        },
                        {
                            text: 'Traducción con I18n/ICU',
                            url: 'https://derafu.org/translation',
                            icon: 'fa-solid fa-earth-americas'
                        },
                        {
                            text: 'Bitácora de registros',
                            url: 'https://derafu.org/log',
                            icon: 'fa-solid fa-history'
                        },
                        {
                            text: 'Apoyo con Helpers',
                            url: 'https://derafu.org/support',
                            icon: 'fa-solid fa-life-ring'
                        }
                    ]
                },
                {
                    cols: 4,
                    title: 'Manejo de Datos',
                    links: [
                        {
                            text: 'Operadores y Generador de Consultas SQL',
                            url: 'https://derafu.org/query',
                            icon: 'fa-solid fa-database'
                        },
                        {
                            text: 'Procesamiento de Datos',
                            url: 'https://derafu.org/data-processor',
                            icon: 'fa-solid fa-list-check'
                        },
                        {
                            text: 'Repositorios mediante Archivos',
                            url: 'https://derafu.org/repository',
                            icon: 'fa-solid fa-folder-tree'
                        },
                        {
                            text: 'Configuración y Opciones',
                            url: 'https://derafu.org/config',
                            icon: 'fa-solid fa-cogs'
                        },
                        {
                            text: 'Contenedores de Datos',
                            url: 'https://derafu.org/container',
                            icon: 'fa-solid fa-box-archive'
                        },
                        {
                            text: 'Selección y Filtrado en Arreglos',
                            url: 'https://derafu.org/selector',
                            icon: 'fa-solid fa-filter'
                        },
                        {
                            text: 'Codificación y validación de XML',
                            url: 'https://derafu.org/xml',
                            icon: 'fa-solid fa-code'
                        },
                    ]
                },
                {
                    cols: 4,
                    title: 'Vistas y Plantillas',
                    links: [
                        {
                            text: 'Renderizador Unificado',
                            url: 'https://derafu.org/renderer',
                            icon: 'fa-solid fa-palette'
                        },
                        {
                            text: 'Componentes UX para Twig',
                            url: 'https://derafu.org/twig',
                            icon: 'fa-solid fa-file-code'
                        },
                        {
                            text: 'Plantillas con Markdown',
                            url: 'https://derafu.org/markdown',
                            icon: 'fa-solid fa-file-lines'
                        },
                        {
                            text: 'Formularios',
                            url: 'https://derafu.org/form',
                            icon: 'fa-solid fa-keyboard'
                        },
                        {
                            text: 'Vanilla JS',
                            url: 'https://derafu.org/vanilla-js',
                            icon: 'fa-brands fa-js'
                        },
                        {
                            text: 'Componentes HTML',
                            url: 'https://derafu.org/html',
                            icon: 'fa-brands fa-html5'
                        },
                        {
                            text: 'Gráficos con GD',
                            url: 'https://derafu.org/chart',
                            icon: 'fa-solid fa-chart-line'
                        },
                    ]
                },
                {
                    cols: 4,
                    title: 'Servicios para Aplicaciones',
                    links: [
                        {
                            text: 'Envío de Correos',
                            url: 'https://derafu.org/mail',
                            icon: 'fa-solid fa-envelope'
                        },
                        {
                            text: 'API con Autodescubrimiento',
                            url: 'https://derafu.org/api',
                            icon: 'fa-solid fa-server'
                        }
                    ]
                },
                {
                    cols: 4,
                    title: 'Seguridad y Autenticación',
                    links: [
                        {
                            text: 'Certificados Digitales',
                            url: 'https://derafu.org/certificate',
                            icon: 'fa-solid fa-certificate'
                        },
                        {
                            text: 'Firma Digital y XML-DSIG',
                            url: 'https://derafu.org/signature',
                            icon: 'fa-solid fa-signature'
                        }
                    ]
                },
                {
                    cols: 4,
                    title: 'L10n: Chile',
                    links: [
                        {
                            text: 'Formateo y validación de RUN/RUT',
                            url: 'https://github.com/derafu/l10n-cl-rut',
                            icon: 'fa-solid fa-id-badge'
                        },
                        {
                            text: 'Colección de enums',
                            url: 'https://github.com/derafu/l10n-cl-enum',
                            icon: 'fa-solid fa-list'
                        }
                    ]
                }
            ],
            footer: [
                {
                    icon: 'fa-solid fa-box-open',
                    text: 'Ver más Software Libre',
                    url: '/free-software'
                },
                {
                    icon: 'fa-solid fa-book',
                    text: 'Documentación',
                    url: '/docs'
                },
                {
                    icon: 'fa-brands fa-github',
                    text: 'Ver en Github',
                    url: 'https://github.com/derafu'
                }
            ],
        },
        {
            text: 'Documentación',
            icon: 'fa-solid fa-book',
            items: [
                {
                    text: 'Base de Sitios de Derafu',
                    icon: 'fa-solid fa-house',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/foundation'
                        }
                    ]
                },
                {
                    text: 'Flujo HTTP con Middlewares',
                    icon: 'fa-solid fa-sitemap',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/http'
                        }
                    ]
                },
                {
                    text: 'Enrutamiento con Parsers',
                    icon: 'fa-solid fa-arrows-split-up-and-left',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/routing'
                        },
                        {
                            type: 'divider'
                        },
                        {
                            text: 'Guía en Inglés',
                            url: 'https://derafu.org/routing/guide_en.html'
                        },
                        {
                            text: 'Guía en Español',
                            url: 'https://derafu.org/routing/guide_es.html'
                        }
                    ]
                },
                {
                    text: 'Núcleo con MicroKernel',
                    icon: 'fa-solid fa-heart',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/kernel'
                        }
                    ]
                },
                {
                    text: 'Traducción con I18n/ICU',
                    icon: 'fa-solid fa-earth-americas',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/translation'
                        }
                    ]
                },
                {
                    text: 'Apoyo con Helpers',
                    icon: 'fa-solid fa-life-ring',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/support'
                        }
                    ]
                },
                {
                    type: 'divider'
                },
                {
                    text: 'Operadores y Generador de Consultas SQL',
                    icon: 'fa-solid fa-database',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/query'
                        }
                    ]
                },
                {
                    text: 'Procesamiento de Datos',
                    icon: 'fa-solid fa-list-check',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/data-processor'
                        }
                    ]
                },
                {
                    text: 'Repositorios mediante Archivos',
                    icon: 'fa-solid fa-folder-tree',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/repository'
                        }
                    ]
                },
                {
                    text: 'Configuración y Opciones',
                    icon: 'fa-solid fa-cogs',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/config'
                        }
                    ]
                },
                {
                    text: 'Contenedores de Datos',
                    icon: 'fa-solid fa-box-archive',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/container'
                        }
                    ]
                },
                {
                    text: 'Selección y Filtrado en Arreglos',
                    icon: 'fa-solid fa-filter',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/selector'
                        }
                    ]
                },
                {
                    type: 'divider'
                },
                {
                    text: 'Renderizador Unificado',
                    icon: 'fa-solid fa-palette',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/renderer'
                        }
                    ]
                },
                {
                    text: 'Plantillas con Twig',
                    icon: 'fa-solid fa-file-code',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/twig'
                        },
                        {
                            text: 'Temas Predefinidos',
                            url: 'https://derafu.org/twig/demo/themes/predefined.html'
                        },
                        {
                            text: 'Componentes',
                            url: 'https://derafu.org/twig/components.html'
                        }
                    ]
                },
                {
                    text: 'Plantillas con Markdown',
                    icon: 'fa-solid fa-file-lines',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/markdown'
                        }
                    ]
                },
                {
                    text: 'Formularios',
                    icon: 'fa-solid fa-keyboard',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/form'
                        }
                    ]
                },
                {
                    text: 'Componentes HTML',
                    icon: 'fa-solid fa-code',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/html'
                        }
                    ]
                },
                {
                    text: 'Gráficos con GD',
                    icon: 'fa-solid fa-chart-line',
                    items: [
                        {
                            text: 'README',
                            url: 'https://derafu.org/chart'
                        }
                    ]
                },
            ]
        },
    ]"
    :rightNav="[
        {
            text: 'Software',
            url: 'https://derafu.org/#software',
            icon: 'fa-solid fa-code'
        },
        {
            text: 'Educación',
            url: 'https://derafu.org/#education',
            icon: 'fa-solid fa-user-graduate'
        },
        {
            text: 'Comunidad',
            url: 'https://derafu.org/#community',
            icon: 'fa-solid fa-handshake-angle'
        },
        {
            text: 'Equipo',
            url: 'https://derafu.org/#team',
            icon: 'fa-solid fa-people-group'
        }
    ]"
    ctaIcon="fa-solid fa-circle-info"
    ctaText="Contacto & Colaboración"
    ctaUrl="#contact"
/>
